*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 80px;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100%;
}
.nav-list{
    display: flex;
    flex-direction: row;
}
.nav-list li{
    margin-left: 32px;
}
.nav-link{
     color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
.container{
    width: 1200px;
    height: 100%;
   
}
.section-1{
    background-color: #FFCDD2;
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 48px;
    padding-bottom: 48px;
    height: 495px;
}
.section-1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hero-image{
    width: 400px;
    margin-left: 72px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 24px;
    margin-top: 32px;
}
.section-1-left{
    display: flex;
    flex-direction: column;
}
.section-1-links{
    margin-top: 32px;
    margin-bottom: 32px;
}
.tandc{
    font-size: 10px;
    max-width: 630px;
}
.link-button{
   padding-top: 14px;
   padding-bottom: 14px;
   padding-left: 24px;
   padding-right: 24px;
   border-radius: 24px;
   font-size: 14px;
   font-weight: 600;
   text-decoration: none;
}
.link-button-black{
    background-color: black;
    color: white;
}
.link-button-outlined{
    border: 1px solid black;
    color: black;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 600;
}
.section-2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}
.section-2 .tandc{
    text-align: center;
}
.TC{
    color: black;
}
 .section-2 p{
    font-size: 23px;
 }
 .logos{
    margin-top: 32px;
    margin-bottom: 32px;
 }
 h2{
    font-size: 35px;
    font-weight: 600;
 }

 .section-3 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .section-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    
 }
 .size{
    height: 142px;
 }
 .reasons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
 }
 .reason{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
 
.reason p{
    font-size: 1rem;
    margin-top: 1rem;
}
.section-3 h2{
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: 2.5rem;
}

